<nav role="navigation" class="navbar navbar-custom hide-mobile-menu">
  <ul class="navbar-nav nav-left">
    <li class="nav-item hidden-sm">
      <a md-ripple href="javascript:void(0)" (click)="toggleAppMobileLeftMenuSidebar()" class="nav-link mobile-menu-trigger">
        <i class="mdi mdi-backburger"></i>
      </a>
		</li>
		<!--<li class="nav-item hidden-sm-down">
			<a md-ripple href="/dashboards" class="nav-link">
				<span>Home</span>
			</a>
		</li>
		<li class="nav-item dropdown dropdown-lg app_menu_launcher hidden-sm-down" dropdown>
			<a md-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<span>Dropdown</span>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu dropdown-lg-menu min-h-200 p-15 " *dropdownMenu>
				<li>

				</li>
			</ul>
		</li>
		<li class="nav-item dropdown mega hidden-sm-down" dropdown>
			<a md-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<span>Mega</span>
				<span class="caret"></span>
			</a>
			<div class="dropdown-menu dropdown-menu full-width min-h-200 p-15" *dropdownMenu>

			</div>
		</li>-->
	</ul>
	<!--<ul class="navbar-nav nav-right">
		<li class="nav-item dropdown avatar-menu hidden-sm-down" dropdown>
			<a md-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<span class="meta">
					<span class="avatar">
						<img src="assets/img/profiles/02.jpg" alt="" class="img-circle max-w-35">
						<i class="badge mini success status"></i>
					</span>
					<span class="name">Mike Jones</span>
					<span class="caret"></span>
				</span>
			</a>
			<ul class="dropdown-menu btn-accent dropdown-menu-right min-h-200" *dropdownMenu>
	<li>

	</li>
			</ul>
		</li>
		<li class="nav-item">
			<a md-ripple href="javascript:void(0)" (click)="search.searchStatus = true" class="nav-link">
				<i class="zmdi zmdi-search"></i>
			</a>
		</li>
		<li class="nav-item dropdown dropdown-lg hidden-sm-down" dropdown>
			<a md-ripple href="javascript:void(0)" class="nav-link" dropdownToggle>
				<i class="zmdi zmdi-invert-colors"></i>
			</a>
			<ul class="dropdown-menu dropdown-lg-menu dropdown-menu-right p-15 color-container" *dropdownMenu>
				<li class="title">
					<h3>Preset Color Options</h3>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-a">
							<input id="theme-a" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="A" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-a"></span>
								<span class="color bg-shade-theme-a"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-b">
							<input id="theme-b" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="B" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-b"></span>
								<span class="color bg-shade-theme-b"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-c">
							<input id="theme-c" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="C" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-c"></span>
								<span class="color bg-shade-theme-c"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-d">
							<input id="theme-d" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="D" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-d"></span>
								<span class="color bg-shade-theme-d"></span>
							</span>
							<span class="color bg-menu-darkBlue"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-e">
							<input id="theme-e" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="E" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-e"></span>
								<span class="color bg-shade-theme-e"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-f">
							<input id="theme-f" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="F" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-f"></span>
								<span class="color bg-shade-theme-f"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-g">
							<input id="theme-g" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="G" />
							<span class="icon-gheck"></span>
							<span class="split">
								<span class="color bg-primary-theme-g"></span>
								<span class="color bg-shade-theme-g"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
				<li>
					<div class="color-option-check">
						<label for="theme-h">
							<input id="theme-h" type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()" value="H" />
							<span class="icon-check"></span>
							<span class="split">
								<span class="color bg-primary-theme-h"></span>
								<span class="color bg-shade-theme-h"></span>
							</span>
							<span class="color bg-menu-white"></span>
						</label>
					</div>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a md-ripple href="javascript:void(0)" (click)="toggleAppRightSidebar()" class="nav-link">
				<i [ngClass]="{'mdi-playlist-minus': false, 'mdi-playlist-plus': true}" class="mdi"></i>
			</a>
		</li>
	</ul>-->
</nav>
<!--<topbar-search #search></topbar-search>-->
