@media screen and (min-width: 320px) and (max-width: 560px) {
  .header-bar {
    background-color: unset !important;
  }
}

.header-bar {
  background-color: unset !important;
}

@media screen and (min-width: 320px) and (max-width: 560px) {
  .hide-mobile-menu {
    display: none;
  }
}
